<span class="remodal country-redirect-popup" id="country_redirect">
	
	<a data-remodal-action="close" class="remodal-close hide"></a>
	<div class="country-redirect-info">
		<div class="country-redirect-description">
          <p class="message">You're now leaving the Allen <strong>US</strong> store.  Products and shipping options may change depending on your purchase and ship locations.</p>
          <a href="javascript:;" class="button btn_normal btn_black btn_hover_red">
		    Confirm
		  </a>
		</div>
	</div>
</span>
