<div class="ctm_popup_main" style="display:none;">
    <div class="ctm_overlay"> </div>
    <div class="ctm_popup_wrap">
        <div class="ctm_popup_inner">
           <div class="content-wrapp">
            <button class="ctm-close-popup"><span>×</span></button>
            <div class="ctm_popup_left">
                <img class="animape animape-visible desktop-img" loading="lazy" data-animape="fadein" src="https://cdn.shopify.com/s/files/1/0101/8078/8283/files/popup_imgs.jpg?v=1667982455">
            </div>
            <div class="ctm_popup_right">
                <div class="ctm_popup_logo">
                    <img class="animape animape-visible" loading="lazy" data-animape="fadein" src="https://cdn.shopify.com/s/files/1/0101/8078/8283/files/Allen-NEW-2020-Logo-Color_web_d58747b8-1e38-468d-a0f2-978f22228b5b.png?v=1630433563">
                </div>
                <h3 class="ctm_popup_title">Welcome to Allen Bike</h3>
                <h3 class="ctm_popup_subtitle">IMPORTANT RACK FINDER CAUTIONS</h3>
                <div class="ctm_popup_desc">
                    <p>Rack should only be used on vehicles where it can be properly mounted as described in instructions included with product. Fit list applies only to installation of Allen Trunk Racks on standard vehicle models in original and non-customized condition (no after-market spoilers, external spare tires, etc.). </p>
                    <p>Racks should never be used on any type of trailer or the front of vehicle. </p>
                    <p>For additional fit questions, please email <a href="mailto:customerservice@allen.bike">customerservice@allen.bike</a>.</p>
                </div>
                <div class="ctm_popup_btns">
                    <a href="#" class="button ctm_popup_btn btn_normal btn_hover_red">Accept</a>
                </div>
                <div class="ctm_popup_footer">
                    <p>new to allen? <a href="/account/register">Create Account</a></p>
                </div>
            </div>
           </div>
        </div>
    </div>
</div>