<div class="ctm_popup">
	<div class="ctm_overlay"></div>
	<button class="close_popup">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 10.6L6.6 5.2 5.2 6.6l5.4 5.4-5.4 5.4 1.4 1.4 5.4-5.4 5.4 5.4 1.4-1.4-5.4-5.4 5.4-5.4-1.4-1.4-5.4 5.4z"></path></svg>
    </button>
	<div class="ctm_popup_wrp">
		<div class="ctm_popup_inner">
			<div class="ctm_popup_body">
				<video class="model_video" loop="true" width="100%" playsinline="" controls webkit-playsinline="" oncanplay="this.muted=true" muted="true" autoplay="autoplay">
                     <source src="" type="video/mp4">
                     <source src="" type="video/webm">
                </video>
			</div>
		</div>
	</div>
</div>